
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&family=Padauk:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&family=Padauk:wght@400;700&display=swap');
$font-family-sans-serif: 'Montserrat','Padauk', sans-serif;
$primary:#3E73B0;
$dark: #141a24;
$secondary:#1a2639;
$light:#C9D1D9;
$success:#009278;
$warning:#E3B341;
$danger:#E34C26;
$border-radius: 1.5rem;
$border-width:2px;
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'feather-icons-web/feather.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
$swal2-confirm-button-background-color:$primary;
@import '~sweetalert2/src/sweetalert2';
@import 'myStyle.css';
