:root {
    --bg: #141a24;
    --text: #C9D1D9;
    --card: #141a24;
    --bg-black: #090C10;
    --header: #E3B341;
    --primary: #3E73B0;
    --dark: #1a2639;
    --gray: #3e4a61;
    --orange: #e66724;
    --teal: #009278;
    --light: #d9dad7;
    --border-radius: 1.5rem;
}

body {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*.content {
    background: var(--primary-soft);
    overflow: scroll;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) inset;
}*/

.header {
    position: sticky;
    top: 0.2rem;
    z-index: 1005;
}

.header-bar {
    background-color: var(--primary);
}

/* Card */

.my-card {
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.322);
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, .1) !important;
    overflow: hidden;
    backdrop-filter: blur(50%);
    transition: 0.4s;
}

.blog-card {
    border-radius: 20px !important;
    margin-bottom: 5px;
    transition: 0.4s;

}

.my-card:hover {
    transform: scale(0.98);
}

.blog-card:hover {
    background-color: var(--text);
}

/* Card */

.my-input {
    outline: none;
    text-decoration: none;
    color: var(--light) !important;
    font-weight: bold;
    background-color: var(--dark) !important;
    border: 2px solid var(--primary) !important;
    padding: 5px 10px;
    border-radius: var(--border-radius);
}

/*
.card {
    color: var(--text);
    background-color: var(--card) !important;
}

.card-header {
    background-color: var(--card) !important;
    color: var(--text);
}

input {
    background-color: var(--card) !important;
    color: var(--text) !important;
}

textarea {
    background-color: #161B22 !important;
    color: var(--text) !important;
}

select {
    background-color: #161B22 !important;
    color: var(--bg-black) !important;
}

*/

.sidebar {
    /* background-color: var(--bg-black) !important; */
    overflow: scroll;
}

.show-sidebar-btn {
    /* background-color: var(--bg-black); */
    cursor: pointer;
}

.hide-sidebar-btn {
    /* background-color: var(--bg); */
    cursor: pointer;
}

.full-screen-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2002;
    height: 100vh;
    overflow: scroll;
}

.userimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card {
    border: none !important;
}

.status-card {
    transition: 0.5s;
}

.status-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.status-card:active {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.ov-img {
    margin-left: -25px;
}

.item-carousel {
    margin-top: -100px;
}

.item-card-img {
    height: 200px;
}

.sub-list {
    transition: 0.3s;
}

.sub-list tr:active {
    transform: scale(1.02);
}

table {
    font-size: 12px !important;
    font-weight: bold !important;
}

/*
th {
    color: var(--header) !important;
} */

tr td {
    /* color: var(--text) !important; */
    vertical-align: middle !important;
}

.item-thumbnail {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 0.25rem;
    background-size: 200%;
}

.show-thumbnail {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 0.25rem;
    background-size: cover;
}

.cover-thumbnail {
    width: 100%;
    height: 300px;
    display: inline-block;
    background-size: cover;
}


.nav-brand {
    background: white;
    position: sticky;
    top: 10px;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn{
    border-radius: var(--border-radius) !important;
}
.container{
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}
.navbar {
    border-radius: var(--border-radius);
    margin: 0px !important;
    padding: 0px 10px !important;
    background-color: var(--bg) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075) inset;

}

.navbar-nav {
    padding: 20px;
    padding: 15px !important;
}

 .nav-link {
    border-radius: var(--border-radius);
    text-align: center;
    padding: 0.5rem !important;
    color: var(--primary) !important;
     transition: 0.4s;
}

.nav-link:hover {
    background-color: var(--primary);
    color: var(--text) !important;
    border-radius: var(--border-radius);
    padding: 5px;
}

.nav-link.current-section {
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
    padding: 5px;
}


.menu-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #949494;
    padding: 10px 0;
}

.menu-item {
    transition: 0.5s;
}

.menu-item:hover {
    background-color: #e7e7e7;
    border-radius: 0.25rem;
}

.menu-item-link {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* color: #C9D1D9; */
}

.menu-item-link:hover {
    text-decoration: none;
    border-radius: 0.5rem;
    /* color: var(--primary-dark); */
}

.menu-item-link.active {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: white;
}

.menu-spacer {
    padding: 15px 0;
}

@media screen and (max-width: 780px) {
    .sidebar {
        position: fixed !important;
        width: 350px !important;
        z-index: 2001;
        display: block !important;
        background-color: white;
        margin-left: -100%;
        padding-bottom: 20px;
    }
    .item-carousel-card {
        margin-top: 100px;
    }
    table {
        overflow-x: auto;
        display: block;
    }
    .nav-link {
        border-radius: var(--border-radius);
        text-align: center;
        padding: 0.5rem !important;
        color: var(--primary) !important;
        transition: 0.4s;
    }

    .nav-link:hover {
        background-color: var(--primary);
        color: var(--text) !important;
        border-radius: var(--border-radius);
        padding: 5px;
    }

    .nav-link.current-section {
        border: 2px solid var(--primary);
        border-radius: var(--border-radius);
        padding: 5px;
    }
}
.footer{
    background-color:var(--dark) ;
    color: white;
}
@media screen and (max-width: 720px) {

}
